[submodule "game/hl2r"]
	path = game/hl2r
	url = https://github.com/Demez/Half-Life-2-Revamped
[submodule "src/materialsystem/stdshaders/fxctmp9"]
	path = src/materialsystem/stdshaders/fxctmp9
	url = https://github.com/evil-inject0r/shaders-prebuilt.git
